.imageGallery {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.imageGallery__container {
    flex: 1 1 360px;
    text-align: center;
}

.imageGallery__image {
    max-width: 100%;
}