.section{
    margin: 8px 0px;
    padding: 16px;
    /* border-bottom: 2px solid hsl(0, 0%, 15%); */
}

.section__header{
    margin-top: 0px;
    padding: 8px;
}

.section--footer{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 10px;
    border-bottom: none;
}
