.form__container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.form__field {
    padding: 10px;
    margin: 5px 0px;
    flex-basis: 100%;
    border: none;
    background-color: hsl(0, 0%, 15%);
}

.form__button {
    padding: 10px;
    flex-basis: 100%;
}