html {
  box-sizing: border-box;
  margin: auto;
}

*, 
::after, 
::before {
  box-sizing: inherit;
}

body {
  max-width: 960px;
  margin: auto;
  padding: 0px 16px;
  font-family: Lato, sans-serif;
  color: hsl(0, 0%, 55%);
  background-color: hsl(0, 0%, 15%);
  word-break: break-word;
  overflow-wrap: break-word;
}